<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.litekey.cordova.plugins.heartbeat"
        version="0.2.2">

  <name>HeartBeat</name>
  <description>Cordova Heart Beat Monitor</description>
  <keywords>cordova,heart,beat,rate,bpm</keywords>
  <repo>https://github.com/Litekey/heartbeat-cordova-plugin</repo>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/heartbeat.js" target="js/heartbeat.js"/>

  <js-module src="www/heartbeat.js" name="heartbeat">
    <clobbers target="heartbeat" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="HeartBeat">
        <param name="android-package" value="com.litekey.cordova.plugins.heartbeat.HeartBeatPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/HeartBeatPlugin.java" target-dir="src/com/litekey/cordova/plugins/heartbeat/"/>
     <source-file src="src/android/HeartBeatDetection.java" target-dir="src/com/litekey/cordova/plugins/heartbeat/"/>
    <source-file src="src/android/CameraActivity.java" target-dir="src/com/litekey/cordova/plugins/heartbeat/"/>
    <source-file src="src/android/ForegroundCameraPreview.java" target-dir="src/com/litekey/cordova/plugins/heartbeat/"/>
    <source-file src="src/android/foregroundcamera.xml" target-dir="res/layout"/>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity 
          android:label="HeartBeat" 
          android:name="com.litekey.cordova.plugins.heartbeat.CameraActivity"
          android:configChanges="keyboardHidden" 
          android:exported="false"
          android:theme="@android:style/Theme.Translucent.NoTitleBar">
      </activity>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />
      <uses-feature android:name="android.hardware.camera"/>
      <uses-feature android:name="android.hardware.camera.flash" />
    </config-file>

  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="HeartBeat">
        <param name="ios-package" value="CDVHeartBeat" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVHeartBeat.h" target-dir="HeartBeatPlugin"/>
    <source-file src="src/ios/CDVHeartBeat.m" target-dir="HeartBeatPlugin"/>
    <header-file src="src/ios/CDVHeartBeatDetection.h" target-dir="HeartBeatPlugin"/>
    <source-file src="src/ios/CDVHeartBeatDetection.m" target-dir="HeartBeatPlugin"/>
    <framework src="AVFoundation.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="CoreGraphics.framework" />
  </platform>

</plugin>